.education_container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.education_block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.education_item{
    display: flex;
    flex-wrap: wrap;
}

.education_content{
    flex-basis: 65%;
    padding: 2rem 3rem 2rem 0;
    border-right: 1px #fff solid;
    /* min-width: 350px; */
    flex: 1 1 65%;
}

.uniwersity_name_block{
    display: flex;
}

.university_name{
    flex-basis: 70%;
}

.period_of_study{
    text-align: end;
    flex-basis: 30%;
}

.education_img{
    flex-basis: 30%;
    flex: 1 1 30%;
    min-height: 200px;
}

.poland{
    background-image: url("../../media/education/modrzewkiego.jfif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ukraine{
    background-image: url("../../media/education/nau.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1040px){
    .education_content{
        padding: 2rem 1.5rem 2rem 1.5rem;
        border-right: none;
    }
}