.intro_container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.intro_img{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../../media/intro/intro_cube.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
}

.intro_img::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black, #1b242b);
    opacity: .7;
}

.intro_block{
    text-align: center;
}

.intro_title{
    font-size: 72px;
    line-height: 0;
    margin-top: 10rem;
}

.intro_content{
    display: flex;
    margin-bottom: 5rem;
}

.intro_content > p:first-child{
    border-right: 1px #fff solid;
}

.intro_content > p{
    font-size: 20px;
    padding: 0 2rem;
}